{% extends 'base/base.html' %}
{% block content %}

<div class="container" id="process_flow_master" v-cloak>
    <p class="is-size-4 has-text-weight-bold">Process Flow Master</p>
    <br>


    <div class="animated fadeIn" id="data_entry" v-if="view">


        <div class="field is-grouped">


            <div class="control">

                <label for="" class="label">Process Flow Name</label>
                <input type="text" v-model="process_flow_name" class="input" placeholder="Enter Process Flow Name">
            </div>


        </div>
        <br>

        <table class="table is-fullwidth is-bordered">
            <colgroup>
                <col span="1" style="width: 4%;">

                <col span="1" style="width: 48%;">
                <col span="1" style="width: 20%;">
                <col span="1" style="width: 13%;">
                <col span="1" style="width: 5%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <th>No.</th>
                <th>Process Name</th>
                <th>Department</th>
                <th>Location</th>
                <th>Days</th>
                <th>Action</th>
            </thead>
            <tbody>
                <tr v-for="(row , index) in taskList">
                    <td> [[ index+1 ]] </td>
                    <td> [[ row.name ]] </td>
                    <td> [[ row.department.name ]] </td>
                    <td> [[ row.location.name ]] </td>
                    <td>
                        [[ row.days ]]
                    </td>
                    <td>
                        <button class="button is-danger" @click="removeRow(index)">
                            <span class="icon">
                                <feather type="x" size="1.3rem"></feather>
                            </span>
                        </button>
                    </td>
                </tr>
                <tr v-if="taskList.length == 0">
                    <td colspan="6" class="has-text-centered notification has-text-grey">

                        <span class="icon">
                            <feather type="info" size="1.3rem"></feather>
                        </span>
                        <p>

                            Add tasks for process flow
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                    </td>
                    <td>
                        <div class="control">
                            <input type="text" ref="name" v-model="task.name" class="input"
                                placeholder="Enter Process Name">
                            <small class="tag is-danger is-light is-underline" v-if="task.error.name">Invalid
                                Data</small>

                        </div>
                    </td>
                    <td>
                        <div class="control">
                            <b-autocomplete v-model="query_department" placeholder="Select Department"
                                :keep-first='true' :open-on-focus='true' :data="autocompleteDepartment" field="name"
                                @select="option => task.department = option
                                ">
                                <template slot="header">
                                    <a @click="showAddData('department')">
                                        <span> Add new... </span>
                                    </a>
                                </template>
                                <template slot="empty">No results for [[ query_department ]]</template>
                            </b-autocomplete>
                            <small class="tag is-danger is-light is-underline" v-if="task.error.department">Invalid
                                Data</small>

                        </div>
                    </td>
                    <td>
                        <div class="control">
                            <b-autocomplete v-model="query_location" placeholder="Select Location" :keep-first='true'
                                :open-on-focus='true' :data="autocompleteLocation" field="name" @select=" option => task.location = option
                                ">
                                <template slot="header">
                                    <a @click="showAddData('location')">
                                        <span> Add new... </span>
                                    </a>
                                </template>
                                <template slot="empty">No results for [[ query_location ]]</template>
                            </b-autocomplete>
                            <small class="tag is-danger is-light is-underline" v-if="task.error.location">Invalid
                                Data</small>

                        </div>
                    </td>
                    <td>
                        <div class="control">
                            <input type="text" class="input" v-model="task.days" placeholder="0">
                            <small class="tag is-danger is-light is-underline" v-if="task.error.days">Invalid
                                Data</small>

                        </div>
                    </td>
                    <td>
                        <button class="button is-black" @click="addRow()">
                            <span class=" icon icon-btn">
                                <feather type="plus" size="1.2rem"></feather>
                            </span> Add
                        </button></td>
                </tr>
            </tbody>

        </table>
        <hr>
        <div class="field" >
        <div class="control">
            <button @click="getLastRow" class="button is-info is-outlined"><span class="icon icon-btn">
                    <feather type="copy" size="1.3rem"></feather>
                </span>
                Copy from last
            </button>
        </div>
        </div>
        <div class="field is-grouped is-grouped-multiline">

            <div class="control">
                <button @click="submitData" class="button is-black"><span class="icon icon-btn">
                        <feather type="check" size="1.3rem"></feather>

                    </span>
                    Save
                </button>
            </div>
            <div class="control">
                <button class="button" @click="showView"><span class="icon icon-btn">
                        <feather type="eye" szie="1.3rem"></feather>
                    </span>
                    View
                </button>
            </div>
            <div class="control animated shake" v-if="data_error">
                <button class="button is-text has-text-danger"><span class="icon icon-btn">
                        <feather type="x" size="1.3rem"></feather>

                    </span>
                    Please fill all the fields.
                </button>
            </div>
        </div>

    </div>
    <div class="animated fadeIn" id="data_view" v-if="!view">
        <div class="control">
            <label for="" class="label has-text-white">View</label>
            <button class="button" @click="view = !view"><span class="icon icon-btn">
                    <feather type="plus" szie="1.3rem"></feather>
                </span>
                Add
            </button>
        </div>
        <br>
        <div v-if="process_flow_list.length == 0">
            <p>

            </p>

        </div>
        <div v-for="( row , index) in process_flow_list" v-if="process_flow_list.length != 0">

            <b-collapse class="card" aria-id="contentIdForA11y3" :open="false" style="cursor: pointer;">
                <div slot="trigger" slot-scope="props" class="card-header" role="button"
                    aria-controls="contentIdForA11y3">
                    <p class="card-header-title">
                        [[ row.name ]]
                        <span class="has-text-grey" style="padding: 0 1rem"> : </span>
                        <span class="has-text-grey has-text-weight-normal"> [[ row.task_items.length]] Activities</span>
                    </p>
                    <a class="card-header-icon">
                        <span class="icon" v-if="props.open">
                            <feather size="1.3rem" type="chevron-down"></feather>
                        </span>
                        <span class="icon" v-if="!props.open">
                            <feather size="1.3rem" type="chevron-up"></feather>
                        </span>

                    </a>
                </div>
                <div class="card-content">
                    <div class="content">
                        <table class="table is-fullwidth is-bordered">
                            <thead>
                                <th>No.</th>
                                <th>Process Name</th>
                                <th>Department</th>
                                <th>Location</th>
                                <th>Days</th>
                            </thead>
                            <tbody>
                                <template>
                                    <tr v-for="(item , index) in row.task_items">
                                        <td> [[ item.task_id+1 ]] </td>
                                        <td>[[ item.name ]] </td>
                                        <td>[[ item.department[0].name ]]</td>
                                        <td>[[ item.location[0].name ]]</td>
                                        <td>[[ item.days ]]</td>
                                    </tr>
                                </template>

                            </tbody>
                        </table>
                    </div>
                </div>
                <footer class="card-footer">
                    <a class="card-footer-item">
                        <span class="icon icon-btn">
                            <feather type="edit" size="1.3rem"></feather>
                        </span>
                        Edit</a>
                    <a class="card-footer-item has-text-danger" @click="deleteData(row.id , index)">
                        <span class="icon icon-btn">
                            <feather type="trash" size="1.3rem"></feather>
                        </span>
                        Delete</a>
                </footer>
            </b-collapse>
            <br>
        </div>
    </div>


</div>

<script src="{{ url_for('static' , filename='js/main_master/process_flow.js')}}"></script>

{% endblock %}