<template id="material_form">


    <div class="animated fadeIn">

        <!-- {% include 'components/raw_goods_autocomplete.html'%} -->

        <p class="is-size-5 has-text-weight-bold">Materials Required</p>
        <br>
        <p class="is-size-5">Raw Materials </p>
        <br>
        <table class="table is-fullwidth is-bordered">
            <colgroup>
                <col span="1" style="width: 60%;">

                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <th>Raw Material</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Action</th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="button" @click="addRawRow()">
                            <span class=" icon icon-btn">
                                <feather type="plus" size="1.2rem"></feather>
                            </span> Add
                        </button></td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(raw, index) in raw_goods_inputs">
                    <td>
                        <b-autocomplete @typing="getRawGoods" v-on:focus="current_raw = index"
                            placeholder="Select Raw Material" :keep-first='true' :open-on-focus='true'
                            :data="dataRawGoods" field="gen_name"
                            @select="option => raw_goods_inputs[index].goods = option.id">
                            <template slot-scope="props">
                                <p class="is-size-6">[[ props.option.gen_name ]]</p>
                                <p class="is-size-6 has-text-grey has-text-weight-bold">[[ props.option.alt_name ]]</p>
                            </template>

                        </b-autocomplete>
                    </td>
                    <td><input class="input" type="text" v-model="raw.qty" placeholder="Select Quantity"></td>
                    <td>
                        <b-autocomplete @typing="getUom" v-on:focus="current_uom = index" placeholder="Select UOM"
                            :keep-first='true' :open-on-focus='true' :data="dataUom" field="name"
                            @select="option => raw_goods_inputs[index].uom = option.id">
                        </b-autocomplete>
                    </td>
                    <td><button class="button is-danger" @click="deleteRawRow(index)">
                            <span class="icon">
                                <feather type="x" size="1.3rem"></feather>
                            </span>
                        </button></td>

                </tr>
            </tbody>
        </table>

        <br>
        <br>
        <p class="is-size-5">Finished Materials </p>
        <br>
        <table class="table is-fullwidth is-bordered">
            <colgroup>
                <col span="1" style="width: 60%;">

                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <th>Finished Goods</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Action</th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="button" @click="addFinishedRow()">
                            <span class=" icon icon-btn">
                                <feather type="plus" size="1.2rem"></feather>
                            </span> Add
                        </button></td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(finished, index) in finished_goods_inputs">
                    <td>
                        <b-autocomplete @typing="getFinishedGoods" v-on:focus="current_finished = index"
                            placeholder="Select Finished Material" :keep-first='true' :open-on-focus='true'
                            :data="dataFinishedGoods" field="gen_name"
                            @select="option => finished_goods_inputs[index].goods = option.id">
                            <template slot-scope="props">
                                <p class="is-size-6">[[ props.option.gen_name ]]</p>
                                <p class="is-size-6 has-text-grey has-text-weight-bold">[[ props.option.alt_name ]]</p>
                            </template>

                        </b-autocomplete>
                    </td>
                    <td><input class="input" type="text" v-model="finished.qty" placeholder="Select Quantity"></td>
                    <td>
                        <b-autocomplete @typing="getUom" v-on:focus="current_uom_fin = index" placeholder="Select UOM"
                            :keep-first='true' :open-on-focus='true' :data="dataUom" field="name"
                            @select="option => finished_goods_inputs[index].uom = option.id">
                        </b-autocomplete>
                    </td>
                    <td><button class="button is-danger" @click="deleteFinishedRow(index)">
                            <span class="icon">
                                <feather type="x" size="1.3rem"></feather>
                            </span>
                        </button></td>

                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p class="is-size-5">Accessories </p>
        <br>
        <table class="table is-fullwidth is-bordered">
            <colgroup>
                <col span="1" style="width: 60%;">

                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <th>Accessories Goods</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Action</th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="button" @click="addAccessoriesRow()">
                            <span class=" icon icon-btn">
                                <feather type="plus" size="1.2rem"></feather>
                            </span> Add
                        </button></td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(accessories, index) in accessories_goods_inputs">
                    <td>
                        <b-autocomplete @typing="getAccessoriesGoods" v-on:focus="current_accessories = index"
                            placeholder="Select Accessories Material" :keep-first='true' :open-on-focus='true'
                            :data="dataAccessoriesGoods" field="name"
                            @select="option => accessories_goods_inputs[index].goods = option.id">
                            <template slot-scope="props">
                                <p class="is-size-6">[[ props.option.name ]] - <span
                                        class="is-size-6 has-text-grey has-text-weight-bold">[[ props.option.desc
                                        ]]</span></p>

                            </template>

                        </b-autocomplete>
                    </td>
                    <td><input class="input" type="text" v-model="accessories.qty" placeholder="Select Quantity"></td>
                    <td>
                        <b-autocomplete @typing="getUom" v-on:focus="current_uom_acc = index" placeholder="Select UOM"
                            :keep-first='true' :open-on-focus='true' :data="dataUom" field="name"
                            @select="option => accessories_goods_inputs[index].uom = option.id">
                        </b-autocomplete>
                    </td>
                    <td><button class="button is-danger" @click="deleteAccessoriesRow(index)">
                            <span class="icon">
                                <feather type="x" size="1.3rem"></feather>
                            </span>
                        </button></td>

                </tr>
            </tbody>
        </table>
        <br>
        <br>
        <p class="is-size-5">Other Materials </p>
        <br>
        <table class="table is-fullwidth is-bordered">
            <colgroup>
                <col span="1" style="width: 60%;">

                <col span="1" style="width: 15%;">
                <col span="1" style="width: 15%;">
                <col span="1" style="width: 10%;">
            </colgroup>
            <thead>
                <th>Other Materials</th>
                <th>Quantity</th>
                <th>UOM</th>
                <th>Action</th>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="4">
                        <button class="button" @click="addOtherMaterialsRow()">
                            <span class=" icon icon-btn">
                                <feather type="plus" size="1.2rem"></feather>
                            </span> Add
                        </button></td>
                </tr>
            </tfoot>
            <tbody>
                <tr v-for="(other_materials, index) in other_materials_goods_inputs">
                    <td>
                        <b-autocomplete @typing="getOtherMaterialsGoods" v-on:focus="current_other_materials = index"
                            placeholder="Select OtherMaterials Material" :keep-first='true' :open-on-focus='true'
                            :data="dataOtherMaterialsGoods" field="name"
                            @select="option => other_materials_goods_inputs[index].goods = option.id">
                            <template slot-scope="props">
                                <p class="is-size-6">[[ props.option.name ]] - <span
                                        class="is-size-6 has-text-grey has-text-weight-bold">[[ props.option.desc
                                        ]]</span></p>

                            </template>

                        </b-autocomplete>
                    </td>
                    <td><input class="input" type="text" v-model="other_materials.qty" placeholder="Select Quantity">
                    </td>
                    <td>
                        <b-autocomplete @typing="getUom" v-on:focus="current_uom_oth = index" placeholder="Select UOM"
                            :keep-first='true' :open-on-focus='true' :data="dataUom" field="name"
                            @select="option => other_materials_goods_inputs[index].uom = option.id">
                        </b-autocomplete>
                    </td>
                    <td><button class="button is-danger" @click="deleteOtherMaterialsRow(index)">
                            <span class="icon">
                                <feather type="x" size="1.3rem"></feather>
                            </span>
                        </button></td>

                </tr>
            </tbody>
        </table>
        <br>
        <div class="field is-grouped is-grouped-multiline">
            <div class="control">
                <router-link to="/activity">
                    <button class="button">
                        <span class="icon icon-btn">
                            <feather type="arrow-left" size="1.3rem"></feather>
                        </span>
                        Previous
                    </button>
                </router-link>
            </div>
            <div class="control">
                <button class="button is-black">
                    Submit
                    <span class="icon icon-btn-l">
                        <feather type="check" size="1.3rem"></feather>
                    </span>
                </button>
            </div>
            <div class="control">
                <button class="button is-text">
                    Submits Production Tracking
                </button>
            </div>
        </div>


    </div>
</template>