{% extends 'base/base.html' %}
{% block content %}

{% include 'transaction/basic.html' %}
{% include 'transaction/activity.html' %}
{% include 'transaction/materials.html' %}

<div class="container">
    <p class="is-size-4 has-text-weight-bold">New Transaction</p>
    <br>
    <div id="transaction_master">
        <div class="tabs">
            <ul>

                <li>
                    <router-link to="/basic">
                        <span class="icon ">
                            <feather type="edit-3" size="1.1rem"></feather>
                        </span>
                        Basic Info</router-link>
                </li>
                <li>
                    <router-link to="/activity">
                        <span class="icon ">
                            <feather type="list" size="1.1rem"></feather>
                        </span>
                        Activity Planning</router-link>
                </li>
                <li>
                    <router-link to="/material">
                        <span class="icon ">
                            <feather type="shopping-bag" size="1.1rem"></feather>
                        </span>
                        Materials</router-link>
                </li>
            </ul>
        </div>
        <br>

        <router-view></router-view>


    </div>

    <script src="{{ url_for('static' , filename ='js/transaction/basic.js' )}}"></script>
    <script src="{{ url_for('static' , filename ='js/transaction/activity.js' )}}"></script>
    <script src="{{ url_for('static' , filename ='js/transaction/material.js' )}}"></script>


</div>

<script>

    const routes = [
        { path: '', component: BasicForm },
        { path: '/', component: BasicForm },

        { path: '/basic', component: BasicForm },
        { path: '/activity', component: ActivityForm },
        { path: '/material', component: MaterialForm },

    ]


    const router = new VueRouter({
        routes // short for `routes: routes`
    })

    const app = new Vue({
        router,
        components: {
            'basic': BasicForm,
            'activity': ActivityForm,
            'material': MaterialForm,
        }
    }).$mount('#transaction_master')


</script>
{% endblock %}