<!DOCTYPE html>
<html lang="en">
{% include 'base/head.html'%}

<body class="">
    <div id="bellow">


        <!-- Mobile Nav -->
        <div class="navbar is-hidden-desktop has-navbar-fixed-top" style="z-index: auto !important">

            <div class="container">
                <div class="navbar-brand has-background-black ">

                    <a class="navbar-item " href="{{url_for('main.home')}}" style="font-weight:bold;">
                        <div class="">
                            <p class="is-size-4 libre has-text-white has-text-weight-light">Noice</p>
                        </div>


                    </a>
                    <a href="" class="navbar-item has-text-white">

                        <span class="icon icon-btn">
                            <feather type="user" size="1.3rem"></feather>
                        </span>
                        {{current_user.username}}
                    </a>
                    <span class="navbar-burger burger has-text-white" data-target="navMenu" @click="showNav">
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
                <div id="navMenu"
                    class="navbar-menu is-shadowless has-background-black has-navbar-fixed-top animated fadeIn">
                    <section class="section" style="padding-top:0">

                        <div class="navbar-end is-size-5 is-center" style="padding-left:1rem; padding-top:2rem;">
                            <aside class="menu" style="margin-bottom:2rem;">
                                <p class="menu-label">
                                    General
                                </p>
                                <ul class="menu-list  ">
                                    <li> <a href="{{ url_for( 'main.overview' )}}"
                                            class="navbar-item has-text-white">
                                            <span class="icon icon-btn">
                                                <feather type="compass" size="1.3rem"></feather>
                                            </span>
                                            Apps
                                        </a></li>
                                    <li> <a href="{{ url_for( 'reports.view_reports' )}}"
                                            class="navbar-item has-text-white">
                                            <span class="icon icon-btn">
                                                <feather type="zap" size="1.3rem"></feather>
                                            </span>
                                            Reports
                                        </a></li>
                                    <li><a href="{{ url_for( 'production.new_transaction' )}}"
                                            class="navbar-item has-text-white">
                                            <span class="icon icon-btn">
                                                <feather type="plus-square" size="1.3rem"></feather>
                                            </span>
                                            Transaction
                                        </a>
                                    </li>
                                </ul>
                            </aside>
                            <aside class="menu" style="margin-bottom:2rem;">
                                <p class="menu-label">
                                    Basic Master
                                </p>
                                <ul class="menu-list ">

                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_finished_items' )}}">
                                            Finished Goods
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_raw_items' )}}">
                                            Raw Materials
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_uom' )}}">
                                            Unit of Measurement
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_department' )}}">
                                            Department
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_location' )}}">
                                            Location
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'basic_master.view_leader' )}}">
                                            Location
                                        </a></li>
                                </ul>
                            </aside>

                            <aside class="menu" style="margin-bottom:2rem;">
                                <p class="menu-label">
                                    Main Master
                                </p>
                                <ul class="menu-list">
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'main_master.view_finished_items' )}}">
                                            Finished Goods Item
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'main_master.view_raw_items' )}}">
                                            Raw Materials Item
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'main_master.view_accessories' )}}">
                                            Accesories
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'main_master.view_other_materials' )}}">
                                            Other Materials
                                        </a></li>
                                    <li><a class="navbar-item has-text-white"
                                            href="{{ url_for( 'main_master.view_process_flow' )}}">
                                            Process Flow
                                        </a></li>
                                </ul>
                            </aside>

                            <aside class="menu is-fixed-bottom">
                                <p class="menu-label">
                                    User
                                </p>
                                <ul class="menu-list ">

                                    <li><a href="{{url_for('auth.logout')}}" class="has-text-white"><span
                                                class="icon icon-btn">
                                                <feather type="log-out" size="1.3rem"></feather>
                                            </span> Logout</a>
                                    </li>

                                </ul>
                            </aside>
                        </div>

                    </section>

                </div>
            </div>

        </div>
        <!-- Burger Navingation  -->


        <!-- Desktop Nav -->
        <nav class="navbar is-spaced is-hidden-touch">
            <div class="container">
                <div class="navbar-brand brand" style="margin-right:2rem;">
                    <a href="" class="navbar-item libre is-size-4">Noice</a>

                </div>
                <div class="navbar-menu">
                    <div class="navbar-start">
                        <p href="" class="navbar-item tag is-rounded is-medium has-background-black has-text-white">
                            <span class="icon icon-btn">
                                <feather type="user" size="1.3rem"></feather>
                            </span>
                            {{ current_user.username }}
                        </p>
                    </div>
                    <div class="navbar-end">
                        <a href="{{ url_for( 'main.overview' )}}" class="navbar-item">
                            <span class="icon icon-btn">
                                <feather type="compass" size="1.3rem"></feather>
                            </span>
                            Apps
                        </a>
                        <a href="{{ url_for( 'reports.view_reports' )}}" class="navbar-item">
                            <span class="icon icon-btn">
                                <feather type="zap" size="1.3rem"></feather>
                            </span>
                            Reports
                        </a>
                        <a href="{{ url_for( 'production.new_transaction' )}}" class="navbar-item">
                            <span class="icon icon-btn">
                                <feather type="plus-square" size="1.3rem"></feather>
                            </span>
                            Transaction
                        </a>

                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 1rem;">

                            <a class="navbar-item"> <span class="icon icon-btn">
                                    <feather type="layers" size="1.3rem"></feather>
                                </span>Basic Master
                                <span class="icon">
                                    <feather type="chevron-down" size="1.3rem"></feather>
                                </span></a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_finished_items' )}}">
                                    Finished Goods
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_raw_items' )}}">
                                    Raw Materials
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_uom' )}}">
                                    Unit of Measurement
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_department' )}}">
                                    Department
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_location' )}}">
                                    Location
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'basic_master.view_leader' )}}">
                                    Team Leader
                                </a>
                            </div>


                        </div>
                        <div class="navbar-item has-dropdown is-hoverable" style="margin-right: 1rem;">

                            <a class="navbar-item"> <span class="icon icon-btn">
                                    <feather type="box" size="1.3rem"></feather>
                                </span>Main Master
                                <span class="icon">
                                    <feather type="chevron-down" size="1.3rem">
                                    </feather>
                                </span>

                            </a>

                            <div class="navbar-dropdown">
                                <a class="navbar-item" href="{{ url_for( 'main_master.view_finished_items' )}}">
                                    Finished Goods Item
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'main_master.view_raw_items' )}}">
                                    Raw Materials Item
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'main_master.view_accessories' )}}">
                                    Accesories
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'main_master.view_other_materials' )}}">
                                    Other Materials
                                </a>
                                <a class="navbar-item" href="{{ url_for( 'main_master.view_process_flow' )}}">
                                    Process Flow
                                </a>

                            </div>


                        </div>
                        <a href="" class="navbar-item">
                            <span class="icon icon-btn">
                                <feather type="settings" size="1.3rem"></feather>
                            </span>
                            Settings
                        </a>

                    </div>
                </div>
            </div>

        </nav>
    </div>
    <section class="section  is-fullheight">
        {% block content %}
        {% endblock %}
    </section>


</body>

</html>

<script>
    new Vue({
        el: '#bellow',
        data() {
            return {};
        },
        mounted() {
            var burger = document.querySelector('.burger');
            var nav = document.querySelector('#' + burger.dataset.target);
            burger.addEventListener('click', function () {
                burger.classList.toggle('is-active');
                nav.classList.toggle('is-active');

            })
        }
    })

    Vue.component('vue-feather', VueFeather);
</script>