<template id="activity_form">


    <div class="animated fadeIn">

        <div class="container">

            <p class="is-size-5 has-text-weight-bold">Activity Planning</p>
            <br>
            <br>

            <table class="table is-fullwidth  ">
                <colgroup>
                    <col span="1" style="width: 2%;">

                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 12%;">
                    <col span="1" style="width: 15%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 5%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 10%;">
                    <col span="1" style="width: 20%;">
                    <col span="1" style="width: 5%;">
                </colgroup>
                <thead>
                    <th>No</th>
                    <th>Activity</th>
                    <th>Department</th>
                    <th>Location</th>
                    <th>Days</th>
                    <th>Dep. On</th>
                    <th>Start date</th>
                    <th>End date</th>
                    <th>Actions</th>
                </thead>
                <tbody>
                    <p> [[ activity_list.task_items ]]</p>
                    <tr v-for="(row , index) in activity_list.task_items_act"
                        :class="{'has-background-info' : row.flag == 'done'}">

                        <td>[[ index +1]]</td>
                        <td> [[ row.name]]</td>

                        <td> [[ row.department[0].name ]]</td>
                        <td> [[ row.location[0].name ]]</td>
                        <td>[[ row.days ]]</td>


                        <td>[[ row.depends_on ]]</td>
                        <td>
                            <p>[[ formatDate(row.start_date) ]]</p>
                        </td>
                        <td>
                            <p>[[ formatDate(row.end_date) ]]</p>
                        </td>
                        
                        <td v-if="row.flag == 'not'">
                            <button class="button is-small is-link is-outlined " @click="doneRow(index)">
                                <span class="icon icon-btn">
                                    <feather type="circle" size="1rem"></feather>
                                </span>
                                Done
                            </button>
                        </td>
                        <td v-if="row.flag == 'done'">
                            <button class="button is-small is-link " @click="notRow(index)">
                                <span class="icon icon-btn">
                                    <feather type="check-circle" size="1rem"></feather>
                                </span>
                                Finished
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <br>
        </div>
    </div>
</template>